@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body {
    font-family: poppins;
    font-size: 30px;
}

.outer {
    top: 30%;
    left: 40%;
    text-align: left;
}

ul {
    list-style: none;
}

#ul {
    margin: 0;
    padding: 0;
}

.File {
    cursor: pointer;
    user-select: none;
}

.File::before {
    content: "\25B6";
    color: grey;
    display: inline-block;
    margin-right: 5px;
}

.File-down::before {
    transform: rotate(90deg);
}

.SubFile {
    display: none;
}

.active {
    display: block;
}